* text=auto !eol
/pom.xml -text svneol=unset#application/xml
src/main/java/org/onehippo/forge/hst/version/util/FrozenNodeUtils.java -text svneol=unset#text/plain
src/main/java/org/onehippo/forge/hst/version/util/HippoBeanVersionUtils.java -text svneol=unset#text/plain
src/main/java/org/onehippo/forge/hst/version/util/JcrVersionUtils.java -text svneol=unset#text/plain
src/main/java/org/onehippo/forge/hst/version/util/NonFrozenPretenderHippoNode.java -text svneol=unset#text/plain
src/main/java/org/onehippo/forge/hst/version/util/NonFrozenPretenderNode.java -text svneol=unset#text/plain
src/site/site.xml -text svneol=unset#application/xml
src/site/xdoc/index.xml -text svneol=unset#application/xml
src/site/xdoc/install.xml -text svneol=unset#application/xml
src/site/xdoc/release-notes.xml -text svneol=unset#application/xml
src/test/java/org/onehippo/forge/hst/version/util/FrozenNodeUtilsTest.java -text svneol=unset#text/plain
